---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import LadyBubbles from "../assets/lady_bubbles.png";
import MissShaniqwa from "../assets/miss_shaniqwa.png";

const widths = [450, 608];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<div class="container my-24 px-6 mx-auto">
  <section class="text-gray-800 text-center lg:text-left">
    <style>
      @media (min-width: 992px) {
        .rotate-lg-6 {
          transform: rotate(6deg);
        }
      }

      /* These are the KEY styles - you can add them directly to any object you want in your project */
      .fancy-border-radius {
        border-radius: 53% 47% 52% 48% / 36% 41% 59% 64%;
      }
    </style>

    <div class="mb-16 container mx-auto xl:px-32 text-center lg:text-left">
      <div class="grid lg:grid-cols-2 flex items-center">
        <div class="mb-12 lg:mb-0">
          <div
            class="relative block rounded-lg shadow-lg px-6 py-12 md:px-12 lg:-mr-14"
            style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); z-index: 1"
          >
            <h2 class="text-3xl font-bold mb-4 display-5">
              Miss Shaniqwa
              <a target="_blank" href="https://www.instagram.com/missshaniqwa/">
                <Icon name="uil:instagram-alt" class="svg-inline" />
              </a>
            </h2>
            <p class="text-slate-700 mb-2">
              She is a bubbly <span class="text-primary">comic</span>{" "}who is
              always out for a great time.
            </p>
            <p class="text-slate-700 mb-2">
              She is full of <span class="text-primary">sass</span>{" "}and a
              whole lot of <span class="text-primary">arse</span>.
            </p>
            <p class="text-slate-700 mb-2">
              Always happy to have fun with everyone.
            </p>
            <p class="text-slate-700 mb-12">She is the life of the party.</p>

            <div class="grid md:grid-cols-3 gap-x-6">
              <div class="mb-12 md:mb-0">
                <h2 class="text-3xl font-bold text-dark mb-4">100%</h2>
                <h3 class="text-based font-medium text-slate-700 mb-0">
                  Sass<Icon name="noto:nail-polish" class="svg-inline" />
                </h3>
              </div>

              <div class="mb-12 md:mb-0">
                <h2 class="text-3xl font-bold text-dark mb-4">100%</h2>
                <h3 class="text-based font-medium text-slate-700 mb-0">
                  Arse<Icon name="fxemoji:peach" class="svg-inline" />
                </h3>
              </div>

              <div class="">
                <h2 class="text-3xl font-bold text-dark mb-4">100%</h2>
                <h3 class="text-based font-medium text-slate-700 mb-0">
                  Kween👑💋
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div>
          <a target="_blank" href="https://www.instagram.com/missshaniqwa/">
            <Picture
              src={MissShaniqwa}
              class="w-full shadow-lg fancy-border-radius rotate-lg-6 cursor-alias"
              widths={widths}
              sizes={sizes}
              aspectRatio={608 / 808}
              formats={["avif", "png", "webp"]}
              alt="Miss Shaniqwa portait"
              position={"attention"}
            />
          </a>
        </div>
      </div>
    </div>
    <div class="mb-16 container mx-auto xl:px-32 text-center lg:text-left">
      <div class="grid lg:grid-cols-2 flex items-center">
        <div class="mb-12 lg:mb-0">
          <div
            class="relative block rounded-lg shadow-lg px-6 py-12 md:px-12 lg:-mr-14"
            style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); z-index: 1"
          >
            <h2 class="text-3xl font-bold mb-4 display-5">
              Lady Bubbles
              <a
                target="_blank"
                href="https://www.instagram.com/ladybubbleschch/"
              >
                <Icon name="uil:instagram-alt" class="svg-inline" />
              </a>
            </h2>
            <p class="text-slate-700 mb-2">
              She is large and in charge, Super Campy, Hyper Fem & <span
                class="text-primary">Very Loud</span
              >
            </p>
            <p class="text-slate-700 mb-2">
              If you can't see her you will definitely hear her.
            </p>
            <p class="text-slate-700 mb-12">
              She is known for riding her <Icon
                name="lime"
                class="svg-inline"
              /> lime scooter around the streets of Christchurch.
            </p>

            <div class="grid md:grid-cols-3 gap-x-6">
              <div class="mb-12 md:mb-0">
                <h2 class="text-3xl font-bold text-dark mb-4">100%</h2>
                <h3 class="text-based font-medium text-slate-700 mb-0">
                  Fun<Icon name="noto:party-popper" class="svg-inline" />
                </h3>
              </div>

              <div class="mb-12 md:mb-0">
                <h2 class="text-3xl font-bold text-dark mb-4">100%</h2>
                <h3 class="text-based font-medium text-slate-700 mb-0">
                  Flavour<Icon
                    name="fxemoji:chilipepper"
                    class="svg-inline"
                  /><Icon name="fxemoji:chilipepper" class="svg-inline" /><Icon
                    name="fxemoji:chilipepper"
                    class="svg-inline"
                  />
                </h3>
              </div>

              <div class="">
                <h2 class="text-3xl font-bold text-dark mb-4">100%</h2>
                <h3 class="text-based font-medium text-slate-700 mb-0">
                  Loud<Icon name="noto:drum" class="svg-inline" />
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div>
          <a target="_blank" href="https://www.instagram.com/ladybubbleschch/">
            <Picture
              src={LadyBubbles}
              class="w-full shadow-lg fancy-border-radius rotate-lg-6 cursor-alias"
              widths={widths}
              sizes={sizes}
              aspectRatio={608 / 808}
              formats={["avif", "png", "webp"]}
              alt="Lady Bubbles portait"
            />
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
