---
const { title, image, location, date, url } = Astro.props;
import { Picture } from "@astrojs/image/components";
const widths = [450, 800];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";
---

<a class="group aspect-video hover:!text-default" href={url}>
  <figure class="relative w-full h-full overflow-hidden">
    <Picture
      class="object-cover w-full h-full transition-all duration-300 bg-cover group-hover:scale-110 group-hover:opacity-20 group-focus:scale-110 group-focus:opacity-20"
      src={image}
      sizes={sizes}
      widths={widths}
      aspectRatio={906 / 514}
      alt={`A screenshot of ${title}`}
    />
    <figcaption class="absolute inset-0">
      <div
        class="flex flex-col items-center justify-center h-full gap-2 transition-all duration-300 opacity-0 group-hover:opacity-100 group-focus:opacity-100"
      >
        <h3 class="text-xl font-extrabold text-center">
          {title}
        </h3>
        <p class="px-4 py-2 border border-current">{date}</p>
        <p class="px-4 py-2 text-sm text-center">{location}</p>
      </div>
    </figcaption>
  </figure>
</a>
